<%- include('./partials/header') %>

<link rel="stylesheet" href="/stylesheets/home.css">

<!-- <header>
        <div class="container-fluid"></div>
        <div class="col-lg-6">
          <div style="margin-top: 130px;"></div>
          <img src="https://www.bowwow.com.au/images/fb-pets.png" class="img-responsive">
        </div>
      </header> -->

      <header class="header1">
        <div class="container">
            <div class="header-content">
                <div class="row">
                    <div class="col-lg-6">
                        <div style="margin-top: 230px;"></div>
                        <h1>Our perfect companions never have fewer than four feet...</h1>
                        <p>Lorem ipsum, or lipsum as it is sometimes known, is dummy text used in laying out print, graphic or web designs.</p>
                        <div class="go-about"></div>
                    </div>
                    <div class="col-lg-6">
                        <div style="margin-top: 130px;"></div>
                        <img src="https://i1.wp.com/freepngimages.com/wp-content/uploads/2015/08/labrador-puppies.png?fit=469%2C306" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="page-section mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase">About</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fa fa-paw"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row">
                <div class="col-lg-4 ml-auto"><p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
                <div class="col-lg-4 mr-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
            </div>
        </div>
    </section>


    <div class="animation">
        <img class="img-flui" src="https://cdn.dribbble.com/users/1731080/screenshots/6171472/main_cycle.gif">
    </div>

    <!-- Pictures of pets -->
    <h2 class="page-section-heading text-center text-uppercase">HOSTS WITH PETS</h2>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fa fa-paw"></i></div>
        <div class="divider-custom-line"></div>
    </div>
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="http://www.arizonapetvet.com/blog/wp-content/uploads/2020/02/Responsible-Pet-Owners.jpeg"></a>
                        <img class="img-fluid" src="http://www.arizonapetvet.com/blog/wp-content/uploads/2020/02/Responsible-Pet-Owners.jpeg" alt="" />
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="https://danielcameronmd.com/wp-content/uploads/2017/08/BoyDog-DC-web.jpg">
                        <img class="img-fluid" src="https://danielcameronmd.com/wp-content/uploads/2017/08/BoyDog-DC-web.jpg" alt="" />
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="https://i.dailymail.co.uk/i/pix/2015/01/15/24B7C5FE00000578-2911381-image-a-3_1421318775159.jpg">
                        <img class="img-fluid" src="https://i.dailymail.co.uk/i/pix/2015/01/15/24B7C5FE00000578-2911381-image-a-3_1421318775159.jpg" alt="" />
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="https://cdn.cdnparenting.com/articles/2019/02/21150952/687222649-H.jpg">
                        <img class="img-fluid" src="https://cdn.cdnparenting.com/articles/2019/02/21150952/687222649-H.jpg" alt="" />
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="https://www.advantagepetcare.com.au/sites/g/files/adhwdz311/files/styles/paragraph_image/public/2020-03/cat_owner_cuddles_cat_1280x852_1.jpg?itok=zqyHS-lg">
                        <img class="img-fluid" src="https://www.advantagepetcare.com.au/sites/g/files/adhwdz311/files/styles/paragraph_image/public/2020-03/cat_owner_cuddles_cat_1280x852_1.jpg?itok=zqyHS-lg" alt="" />
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="https://thehorseaholic.com/wp-content/uploads/2015/12/bigstock-Young-happy-woman-on-her-horse-51297898.jpg">
                        <img class="img-fluid" src="https://thehorseaholic.com/wp-content/uploads/2015/12/bigstock-Young-happy-woman-on-her-horse-51297898.jpg" alt="" />
                    </a>
                </div>
            </div>
        </div>
    </div>

<%- include('./partials/footer') %>